@charset "UFF-8";

/* 共通＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */
html {
    font-size: 62.5%;
}

body {
    color: #333;
    font-family: sans-serif;
}

img {
    max-width: 100%;
    vertical-align: bottom;
}

ul {
    list-style-type: none;
    display: flex;
}

a {
    text-decoration: none;
    color: #fff;
    display: block;
}

a:hover {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff;
}

h2 {
    font-size: 2.7rem;
    margin-bottom: 30px;
}

.reason h2,
.quality h2 {
    font-family: serif;
    font-weight: 500;
}

.wrapper {
    max-width: 1260px;
    margin: 0 auto;
    padding: 0 30px;
}

.flex {
    display: flex;
    align-items: center;
}

.br-480 {
    display: none;
}


/* ファーストビュー＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */
.hero {
    text-align: center;
    /* 大きい画面のため */
    background-color: #280402;
}

.title {
    font-family: 'Dancing Script', cursive, serif;
    position: absolute;
    top: 4%;
    left: 15%;
    font-size: 7rem;
    color: #fff;
    transform: rotate(-10deg);
    line-height: 1;
}


/* header＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */
header {
    background-color: #483346;
    position: sticky;
    top: 0;
}

h1 {
    color: #fff;
    font-family: 'Dancing Script', cursive, serif;
    font-size: 6rem;
}

h1::before {
    content: '';
    display: inline-block;
    width: 60px;
    height: 60px;
    background-image: url(images/logo.png);
    background-size: contain;
    vertical-align: bottom;
    margin-right: 10px;
}

.gflex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
}

.gnavi ul {
    font-size: 2.4rem;
}

.gnavi li {
    padding: 0 20px;
    font-family: serif;
}

.gnavi li+li {
    border-left: 1px solid #fff;
}


/* メイン＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */

.bg-color {
    background-color: #f1ede6;
}

.intro {
    text-align: center;
    margin: 0 auto;
    padding: 50px 100px 50px 100px;
}

.intro h2 {
    font-family: serif;
    margin-bottom: 10px;
    color: #7e1e6b;
    font-weight: bold;
    font-size: 2.8rem;
}

.intro p {
    font-size: 1.6rem;
    text-align: left;
}

.icon {
    display: flex;
    justify-content: space-between;
    padding-right: 100px;
    padding-left: 100px;
}

.wine,
.shop,
.photo,
.info {
    text-align: center;
    width: 225px;
}

.shop,
.photo,
.info {
    margin-left: 1rem;
}

.icon h3 {
    font-family: serif;
    font-weight: bold;
    color: #7e1e6b;
    margin-top: 20px;
    font-size: 2rem;
}

.icon p {
    text-align: left;
    font-size: 1.6rem;
}

.icon a {
    color: red;
}

.icon a:hover {
    transform: scale(1.1, 1);
    text-indent: 1rem;
}

.reason {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
}

.reason-right {
    width: 40%;
    margin-left: 100px;
    max-width: 450px;
}

.reason-left {
    width: 40%;
    max-width: 450px;
}

.reason h2 {
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
}

.reason p {
    font-size: 1.8rem;
    margin-bottom: 50px;
}

.button {
    background-color: #7e1e6b;
    width: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
    text-align: center;
    margin: 0 auto;
    border-radius: 20px;
    font-size: 2.5rem;
}

.button:hover {
    transform: scale(1.1);
}

.recommend {
    background-color: #483346;
    padding: 70px 0;
    text-align: center;
}

.recommend h2 {
    color: #fff;
    font-family: 'Dancing Script', cursive, serif;
    font-size: 3.5rem;
}

.recommend p {
    color: #fff;
    font-size: 1.6rem;
    margin-bottom: 50px;
}

.recommend a {
    display: inline-block;
}

.recommend a:hover {
    transform: translateY(-20px);
}

.recommend a::after {
    content: '△ click';
    font-size: 1.8rem;
    display: block;
}

.recommend a+a {
    margin-left: 150px;
}

.bg {
    height: 400px;
}

.bg::before {
    content:"";
    display:block;
    position:fixed;
    top:0;
    left:0;
    z-index:-1;
    width:100%;
    height:100vh;
    background-image:url(images/vineyard.jpg);
    background-repeat:no-repeat;
    background-position:center bottom;
    background-size:cover;
}

.quality {
    background-color: #f1ede6;
}

.quality p {
    font-size: 1.6rem;
}

.quality img {
    width: 50%;
}

.quality .flex {
    max-width: 1920px;
    margin: 0 auto;
}

.sentence {
    width: 50%;
    max-width: 600px;
    margin: 0 auto;
    padding: 0 3rem;
}

.flex:nth-child(2) {
    flex-direction: row-reverse;
}


/* footer＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */

.sitemap a {
    color: #fff;
    font-size: 1.2rem;
}

small {
    color: #fff;
    font-size: 11px;
    margin-left: 100px;
}

footer {
    text-align: center;
    background-color: #483346;
    padding: 1.5rem 0;
}

footer .flex {
    justify-content: center;
}



/* スマホ版＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */

@media (max-width: 950px) {

    .title {
        font-size: 4.5rem;
        top: 3%;
        left: 12%;
    }

    .gflex {
        flex-direction: column;
        padding-top: 10px;
    }

    .gnavi li {
        padding: 0 10px;
        margin: 20px 0;
    }

    .intro,
    .icon {
        padding-right: 30px;
        padding-left: 30px;
    }

    .reason-right {
        margin-left: 20px;
    }

    .reason p {
        font-size: 1.6rem;
    }

    .recommend a+a {
        margin-left: 50px;
    }

    .sentence h2 {
        font-size: 2rem;
        margin-bottom: 15px;
    }

    .sentence p {
        font-size: 1.4rem;
    }

}

/* 消さない */



@media (max-width: 600px) {

    .title {
        font-size: 3rem;
    }

    h1 {
        font-size: 2.7rem;
    }

    h1::before {
        width: 30px;
        height: 30px;
        margin-right: 10px;
    }

    .gnavi ul {
        font-size: 1.6rem;
    }

    h2 {
        font-size: 2.1rem;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .intro h2 {
        font-size: 2.5rem;
    }

    .wine,
    .shop,
    .photo,
    .info {
        width: auto;
    }

    .info,
    .photo,
    .shop {
        margin-left: 0;
        margin-top: 20px;
    }

    .icon {
        flex-direction: column;
    }


    .icon h3 {
        margin: 10px 0;
    }

    .reason {
        flex-direction: column;
        padding: 100px 30px;
    }

    .reason-right {
        width: auto;
        margin-left: 0;
    }

    .reason-left {
        width: auto;
        max-width: 100%;
    }

    .button {
        font-size: 1.8rem;
        width: 180px;
    }

    .recommend a+a {
        margin-left: 10px;
    }

    .recommend a {
        width: 15%;
    }

    .quality .flex {
        flex-direction: column;
        padding: 30px;
    }

    .quality img {
        width: auto;
        margin-bottom: 10px;
    }

    .sentence {
        width: auto;
    }

    footer .flex {
        flex-direction: column;
    }

    small {
        margin-top: 20px;
    }

    small {
        margin-left: 0;
    }

}

/* 消さない */

@media (max-width: 480px) {
    .br-480 {
        display: block;
    }

    .title {
        font-size: 2.5rem;
        top: 2%;
        left: 50%;
        transform: translate(-50%);
    }
}

/* 消さない */